@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus&display=swap');

.logo{
    font-family: 'Gentium Plus', serif;
    font-weight: 700;
        font-size: 20px;
}
span {
    color: green;
    font-size: 30px;
}
h3{
    font-weight: 600;
    
}
.navbutton{
    background-color: aqua;
    color: black;
    font-size: 15px;
    margin: 5px;
    border-radius: 16px;
    float: right;

}
.leftbutton{
    background-color: aqua;
    color: black;
    font-size: 15px;
    margin: 5px;
    border-radius: 16px;
    float: leftt;
}
.navbar{
    background-color:rgb(251, 252, 253);
    height: 70px;
  padding: 20px;
} 
.nav-link{
    padding-left: 600px;
    color: black;
        font-family: 'Gentium Plus', serif;
        font-weight: 700;
        font-size: 20px;
        border-bottom: 0px;
        justify-content: space-between;
       
    
}
div a{
    padding: 40px;
    color: black;
}
div input {
   padding: 10px;
   margin:5px
}